body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:white;
}

a {
	color:red;
}

div {
	color:darkslategray;
}

div.intro {
	text-align:center;
	font-style:italic;
	font-size:15px;
}

@font-face {
    font-family:'infi-regular';
    src: url('fonts/infini-regular.otf');
}

div.name {
    font-size:300px;
	color:burlywood;
    text-align:center;
    font-family:'infi-regular';
}

div.project1 {
	width:300px;
	height:80px;
	background-color:darkolivegreen;
	color:bisque;
	font-family:georgia;
	display:inline-block;
	padding:10px;
	text-align:center;
	vertical-align:top;
	margin-left:10px;
	font-size:25px;

}

div.project2 {
	width:300px;
	height:80px;
	background-color:bisque;
	color:darkolivegreen;
	font-family:georgia;
	display:inline-block;
	padding:10px;
	margin-left:800px;
	text-align:center;
	font-size:25px;

}
div.about {
	width:300px;
	height:80px;
	background-color:darkolivegreen;
	color:bisque;
	font-family:georgia;
	display:inline-block;
	padding:10px;
	margin-left:600px;
	margin-bottom:100px;
	text-align:center;
	font-size:25px;
}