body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:white;
}

body {
	background-color: black;
		overflow-x:hidden;
}

body.thirdarticle {
	background-color:white;
}

body.secondarticle {
	background-color:white;
}

@font-face {
	font-family:'drukbold';
	src: url('fonts/druk.otf');
}

div.articleone {
	font-family:'drukbold';
	font-size:45px;
	text-align:center;
	position:relative;
	top: 150px;
	color:white;
}

.articleone a:hover {
	background-color: yellow;
  }


div.articletwo {
	font-family:'drukbold';
	font-family:'drukbold';
	font-size:45px;
	text-align:center;
	position:relative;
	top: 300px;
	color:white;
}

.articletwo a:hover {
	background-color: hotpink;
  }


div.articlethree {
	font-family:'drukbold';
	font-family:'drukbold';
	font-size:45px;
	text-align:center;
	position:relative;
	top: 500px;
	color:white;

}

.articlethree a:hover {
	background-color: blue;
  }

div.articlefour {
	font-family:'drukbold';
	font-family:'drukbold';
	font-size:45px;
	text-align:center;
	position:relative;
	top: 600px;
	color:white;

}

.articlefour a:hover {
	background-color:orange;
  }

  div.enter {
	  position:absolute;
	  top: 300px;
	  left:510px;
  }

  .marquee {
	margin: 0 auto;
	font-family:'drukbold';
	background-color:yellow;
	white-space: nowrap;
	font-size:40px;
	top:10px;
	position: relative;
  overflow: hidden;
  }
  
  .marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 20s infinite;
  }
  
  
  @keyframes marquee {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(-100%, 0);
	}
  }

  div.threetitle {
	color:blue;
	-webkit-text-stroke: .5px black;
	font-family:"drukbold";
	text-align:center;
	font-size:100px;
	}

	div.threecontent {
		text-align:left;
		font-size:65px;
		font-family:"drukbold";
		color:blue;
		padding-right:50px;
		padding-left:20px;
	}

	div.threecontentword {
		text-align:center;
		color:blue;
		-webkit-text-stroke: .5px black;
		font-size:20px;
		font-family:"drukbold";
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom:40px;
		position:absolute;
	}

	div.threecontentwordtwo {
		text-align:right;
		color:blue;
		font-family: Courier;
		font-size:15px;
		padding-left:60px;
		padding-right:20px;
	}

	.runwaypicturetwo {
	display: block;
padding-left:320px;
	}

	.runwaypicture {
position:static;
	}

	.threecontentwordthree {
		text-align:center;
		color:blue;
		font-family: "drukbold";
		font-size:30px;
		padding-left: 60px;
		padding-right: 60px;
	}

	.words {
		text-align:center;
		color:blue;
		font-family: 'Courier New', Courier, monospace;
		font-size:20px;
		padding-left: 80px;
		padding-right: 80px;
		padding-bottom:40px;
	}

  .container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .col {
	width: 50%;
	height: 100vh;
	overflow: scroll;
	background-color: black;
	color: white;
  }
  
  .content {
	padding: 20px;
	font-family:'drukbold';
	font-size:28px;
  }
  
  .bgred {
	background-color: black;
  }
  
  .img {
		width: 100%;
		padding-bottom: 20px;
	  }
  
.two {
	font-family: 'Courier New', Courier, monospace;
	font-size:18px;
}

.three {
	font-family:'drukbold';
	font-size:30px;
	color:yellow !important;
}

.four {
	font-family:'Courier New', Courier, monospace;
	font-size:15px;
	text-align:center;
}

.five {
	text-align:center;
	font-family: Courier;
	font-size:18px;
}

.home {
	font-family:'drukbold';
	text-align:center; 
}

.home a {
	text-decoration: none;
	color:red;
}
	


.loewewords {
	color: hotpink;
	font-family:'drukbold';
	text-align: center;
	font-size: 40px;
	padding-top:80px;
	padding-left:30px;
	padding-right:30px;
}

.loewewordstwo {
	color:hotpink;
	font-family:'drukbold';
	font-size:30px;
	padding-left:25px;
	padding-right:10px;
}

.loewewordsthree {
	color:blue;
	font-family:'Courier New', Courier, monospace;
	font-size:20px;
text-align:center;
padding-left:50px;
padding-right:50px;
}


.containertwo {
	display:flex;
	flex-direction: row;
	column-gap:200px;
	color:black;
	  }
	
	  .item .articlethree {
		font-family: 'drukbold';
		width:800px;
	  }

	 
	  .marqueethree {
		margin: 0 auto;
		font-family:'drukbold';
		background-color:hotpink;
		white-space: nowrap;
		font-size:80px;
		top:10px;
		color:white;
		position: relative;
	  overflow: hidden;
	  }
	  
	  .marqueethree span {
		display: inline-block;
		padding-left: 100%;
		animation: marquee 20s infinite;
	  }
	  
	  
	  @keyframes marqueethree {
		0% {
		  transform: translate(0, 0);
		}
		100% {
		  transform: translate(-100%, 0);
		}
	  }

	  .column {
		float: left;
		width: 50%;
		padding-top:20px;
		padding-left:40px;
		padding-right:40px;
	  }
	  
	  /* Clear floats after the columns */
	  .row:after {
		content: "";
		display: table;
		clear: both;
	  }

	  .columntwo {
		float: left;
		width: 33.33%;
	  }
	  
	  /* Clear floats after the columns */
	  .rowtwo:after {
		content: "";
		display: table;
		clear: both;
	  }